#photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.photographer_informations {
    font-weight: 400;
}

.photographer_informations h1 {
    color: var(--tertiary-color);
    font-size: 48px;
    font-weight: inherit;
    line-height: 83px;
    margin: 0;
}

.photographer_informations address {
    color: var(--main-color);
    font-size: 24px;
    font-style: normal;
    line-height: 31px;
}

.photographer_informations p {
    color: var(--main-gray);
    font-size: 18px;
    line-height: 23px;
}

/*
-------------------------
|    Embedded Medias    |
-------------------------
*/
#medias-container {
    margin: 58px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 95px;
}

#medias-container article {
    width: 350px;
}

#medias-container article img,
#medias-container article video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

#medias-container article div {
    display: flex;
    flex: none;
    justify-content: space-between;
    align-items: center;

    color: var(--main-color);
    font-size: 24px;
    font-weight: 400;
    padding: 10px 0;
}

#medias-container article div h2 {
    margin: 0;
    line-height: 31px;
    text-overflow: ellipsis;
    width: 280px;
    font-size: inherit;
    font-weight: inherit;
}

#medias-container article div button {
    background: none;
    border: none;
    font-size: inherit;
    font-weight: 500;
    color: inherit;
    cursor: pointer;
    padding: 0;
}

/* Others Components */
#bottom-informations {
    display: flex;

    position: fixed;
    bottom: 0;
    right: 36px;

    height: 68px;

    border-radius: 5px;
    background: var(--secondary-color);
    padding: 0 30px;

    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

#bottom-informations h3 {
    font-weight: inherit;
    font-size: inherit;
}

#bottom-informations h3:first-child {
    padding-right: 65px;
}

/* Button Filtre par trie */
.sortButton-container {
    margin: 9px 100px 23px;
}

.sortButton-container label {
    font-size: 18px;
    font-weight: bold;
    padding-right: 25px;
}

#sort-selection {
    appearance: none;
    position: relative;
}

#sort-selection::after {
    content: 'sdq';
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 2;
    background: #D3573C;
    width: 100%;
    height: 100%;
}

    /*
    -----------------------
    |    Contact Modal    |
    -----------------------
    */

#contact_modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal {
    border-radius: 5px;
    background-color: var(--secondary-color);

    mix-blend-mode: normal;
    filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));

    width: 50%;
    padding: 35px;
    margin: 60px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal header {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: max-content;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 28px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    resize: none;
    width: 100%;
    min-height: 170px;
    border: none;
    border-radius: 5px;
}

.contact_button.button:hover {
    border: black 1px solid;
}

/*
------------------------
|    LightBox Modal    |
------------------------
*/

#lightBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, .9);
}

#lightBox .modal {
    width: calc(100vw - 100px);
    height: 90vh;

    background: white;
    border-radius: 0;

    position: relative;

    margin: 25px auto;
    padding: 0 96px
}

#ctrl-prev, #ctrl-next, #ctrl-close {
    width: 96px;
    height: 96px;
    background: url(../images/static/icons/lightBox/arrow.svg) center center no-repeat;

    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -48px;
}

#ctrl-next {
    right: 0;
    left: auto;
    transform: rotate(180deg);
}

#ctrl-close {
    width: 72px;
    height: 72px;
    background: url(../images/static/icons/lightBox/close.svg) center center no-repeat;

    top: 0;
    left: auto;
    right: 0;
    margin-top:0;
}

#lhtBoxMediaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    height: 100%;
    width: 100%;

    flex: none;
}

#lhtBoxMediaContainer img,
#lhtBoxMediaContainer video {
    /*width: 100%;*/
    max-height: calc(100% - 64px);
    object-fit: cover;
    border-radius: 5px;
}

#lhtBoxMediaContainer h2 {
    font-size: 24px;
    font-weight: inherit;
    color: var(--main-color);
    margin: 0;
    padding: 14px 0 19px 0;
}

#lightBox.open {
    display: block;
}